{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content %}
<div id="list"></div>

<script>
    var arr = {{list_opinions|safe}};
    var arr2 = {{list_count|safe}};
</script>

<script>
var list = "<ul class=list-group>";
    var count = 0
for (let i of arr) {
    let result = i.slice(0, -5);
    console.log(result)
    list += `<a href="product/${result}"<li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">${i}`;
    list += `<span class="badge bg-dark rounded-pill">${arr2[count]}</span></li></a>`
    count++;
}
list += "</ul>";

document.getElementById("list").innerHTML = list;
</script>




{% endblock %}